body {
  background-image: url(images/clockBgImg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}

.clock-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  font-family: monospace;
  font-size: 6.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  backdrop-filter: blur(5px);
  width: 100%;
  background-color: hsla(0, 0%, 100%, 0.137);
}
